name: 'Terraform Destroy'

on:
  workflow_dispatch:
permissions:
    contents: read
    id-token: write
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    env:
        ARM_CLIENT_ID: ${{secrets.ARM_CLIENT_ID}}
        ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET}}
        ARM_SUBSCRIPTION_ID: ${{secrets.ARM_SUBSCRIPTION_ID}}
        ARM_TENANT_ID: ${{secrets.ARM_TENANT_ID}}
        TF_LOG: INFO
        TF_INPUT: false
        WORKING_DIR: "./infra" # Directory containing Terraform files
        TF_VERSION: "1.6.0" # Terraform version to use
       # TF_IN_AUTOMATION: true

    steps:
    - name: Checkout
      uses: actions/checkout@v2

# setup terraform on runner machine
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_wrapper: false

    - name: Terraform Init
      run: terraform init

    - name: Terraform Destroy
      run: terraform destroy -auto-approve
# Logs in with your Azure credentials
    - name: Azure login
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.ARM_CLIENT_ID }}
        tenant-id: ${{ secrets.ARM_TENANT_ID }}
        subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
